*{
    font-family: 'Helvetica', sans-serif;
}
#header-nav,#hero-section,.list-testimonial .card{
    background-color: #F1F3FF;
}
.jumbotron{
    background-color: #0d28a6;
}
#accordion-title:after {
    font-family: FontAwesome;
    content: "\f078";
    float: right;
    color: grey;
}

#accordion-title[aria-expanded="true"]:after {
    content: "\f077";
}
.previous-btn,.next-btn{
    border-radius: 25px;
}